<%= t.include("partials/_head.html") %>

<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<!-- Mapbox GL -->
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.css" rel='stylesheet' />
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.35.1/mapbox-gl.js"></script>

<div class="map-container">
  <div id="map"></div>
</div>
<div class="tooltip-map" id="tooltip"></div>

<div class="legend">
  <div class="legend-element"><div class="dot-container"><div class="dot" id="small-dot-red"></div></div><div class="dot-text">1 arrest</div></div>
  <div class="legend-element"><div class="dot-container"><div class="dot" id="small-dot-yellow"></div></div><div class="dot-text">1 car break-in</div></div>
  <div class="legend-element"><div class="dot-container"><div class="dot" id="big-dot-yellow"></div></div><div class="dot-text">100 car break-ins</div></div>
</div>

<div class="top-container">

  <div class="hed-wrapper">
    <div class="hed"><%=json.carbreakinxxxx_data.Title %></div>
    <div class="title-date"><%=json.carbreakinxxxx_data.Date %></div>
    <div class="byline">By <a href="mailto:jpalomino@sfchronicle.com">Joaquin Palomino</a>, <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, and <a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>

    <div class="deck"><%=json.carbreakinxxxx_data.Deck%></div>
  </div>

  <div class="instructions">Scroll down.
    <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
  </div>

</div>
<div id="bottom-of-top"></div>

<div class="category-box">
<% json.carbreakinxxxx_data.text.forEach(function(d,dIDX){ %>
  <% if (d.Graphic) { %>
    <div class="event big-event" id="mapevent<%=dIDX%>">
  <% } else { %>
    <div class="event" id="mapevent<%=dIDX%>">
  <% } %>
    <div class="category"><div class="category-text"><%=d.Text%></div></div>
    <div class="image-container">
      <% if (d.Graphic){ %>
        <img id="image<%=dIDX%>" class="hidden-image" src="<%=d.Graphic%>"></img>
      <% } %>
      <% if (d.Photo){ %>
        <img id="image<%=dIDX%>" class="hidden-image" src="https://s.hdnux.com/photos/71/45/07/<%=d.Photo%>/3/premium_landscape.jpg"></img>
      <% } %>
      <% if (d.Credit) { %>
        <div class="caption"><%=d.Credit%></div>
      <% } %>
    </div>
  </div>
<% }); %>
</div>

<div id="top-of-bottom"></div>

<div class="bottom-of-page">
</div>


<script src="../assets/censusblocks/NEWDATAGEOID.js" type="text/javascript"></script>

<script>
  var breakins2017 = <%= JSON.stringify(json.shortdata_new) %>
  var categoryData = <%= JSON.stringify(json.carbreakinxxxx_data.text) %>
</script>

<script src="app.js" async></script>
