<%= t.include("partials/_scrolly_head.html") %>

<div class="background-img-container visible desktop" id="background-1">
  <img src="./assets/maps/backdrop.png"></img>
</div>
<div class="background-img-container visible mobile" id="background-1">
  <img src="./assets/maps/backdropm.png"></img>
</div>

<% json.carbreakinxxxx_data.text.forEach(function(d,dIDX){ %>
  <% if (d.Image){ %>

    <% if (d.Image.match("graphics")){ %>
      <div class="background-img-container graphics desktop" id="background<%=dIDX%>">
    <% } else { %>
      <div class="background-img-container desktop" id="background<%=dIDX%>">
    <% } %>
      <% if (d.Image.match("hdnux")) { %>
        <img src="<%=d.Image%>"></img>
      <% } else { %>
        <img src="<%=d.Image%>?5"></img>
      <% } %>
      </div>

    <% if (d.Image.match("graphics")){ %>
      <div class="background-img-container graphics mobile" id="backgroundmobile<%=dIDX%>">
    <% } else { %>
      <div class="background-img-container mobile" id="backgroundmobile<%=dIDX%>">
    <% } %>
      <% if (d.Image.match("hdnux")) { %>
        <img src="<%=d.Image%>"></img>
      <% } else { %>
        <img src="<%=d.Image.split('.png')[0]%>m.png?5"></img>
      <% } %>
      </div>

  <% } %>
<% }); %>

<div class="top-container">

  <div class="hed-wrapper">
    <div class="hed"><%=json.carbreakinxxxx_data.Title %></div>
    <div class="title-date"><%=json.carbreakinxxxx_data.Date %></div>
    <div class="byline">By <a href="mailto:jpalomino@sfchronicle.com">Joaquin Palomino</a>, <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a>, and <a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>

    <div class="deck"><%=json.carbreakinxxxx_data.Deck%></div>
  </div>

  <div class="instructions">Scroll down.
    <div class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
  </div>

</div>
<div id="bottom-of-top"></div>

<div class="category-box">
<% json.carbreakinxxxx_data.text.forEach(function(d,dIDX){ %>
  <div class="event" id="mapevent<%=dIDX%>">
    <div class="category"><div class="category-text"><%=d.Text%></div></div>
  </div>
<% }); %>
</div>

<div id="top-of-bottom"></div>

<div class="bottom-of-page">

  <div class="methodology"><div class="bottom-hed">Methodology:</div><%=json.carbreakinxxxx_data.Methodology%></div>

  <div class="credit-block">
    <div class="bottom-hed">Credits:</div>
    <div class="credit">Data reporter: <a href="mailto:jpalomino@sfchronicle.com">Joaquin Palomino</a></div>
    <div class="credit">Interactive developer: <a href="mailto:eoneill@sfchronicle.com">Emma O'Neill</a></div>
    <div class="credit">Graphic illustrator: <a href="mailto:ttrumbull@sfchronicle.com">Todd Trumbull</a></div>
  </div>

</div>


<%= t.include("partials/_footer.html") %>

<script>
  var categoryData = <%= JSON.stringify(json.carbreakinxxxx_data.text) %>
</script>

<script src="scrolly_app.js?2" async></script>
